@{
  Layout = "_Layout";
}

<h1>Welcome to the Factory!</h1>
<p>@Html.ActionLink("See all Engineers", "Index", "Engineer")</p> 
<p>@Html.ActionLink("See all Machines", "Index", "Machine")</p>
<p>@Html.ActionLink("See all Engineers and Machines", "Index", "EngineerMachine")</p>
